@import "./import/variables";
.container {
  max-width: 1604px;
}
.reco {
  &_kv {
    &_title {
      text-align: center;
      font: 900 104px/1.08 "SSTPro";
      letter-spacing: normal;
      color: #222;
    }
  }
  &_item {
    &s {
      display: flex;
      flex-wrap: wrap;
    }
    margin-bottom: 96px;
    padding: 12px;
    &:nth-of-type(1) &_inner {
      padding-top: 35px;
    }
    &:nth-of-type(4) &_inner,
    &:nth-of-type(5) &_inner {
      padding-top: 120px;
    }
  }
  &_prod {
    display: block;
    overflow: hidden;
    &_img {
      object-fit: cover;
      transition: transform .2s $easeOutCubic;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &_title {
    margin: 40px 0 14px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #222;
  }
  &_desc {
    margin: 14px 0 38px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.025em;
    color: #666;
  }
  &_hash {
    &es {
      margin-top: 38px;
    }
    display: inline-block;
    padding: 11px 23px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -.025em;
    color: #222;
    border: 1px solid #e1e1e1;
    border-radius: 1.357em;
  }
}