@import "./import/variables";

/* 고객서비스 */
.agreement {
  .container .content {
    padding: 120px 0 160px;
  }
  @include only-mo {
    .container .content {
      margin: 0;
      padding: 80px 0;
    }
  }
}
.purchaseConsulting {
  .container .content {
    padding: 120px 0 160px;
  }
  @include only-mo {
    .container .content {
      margin: 0;
      padding: 40px 0;
    }
  }
}
.support_head {
  text-align: center;
  &_title {
    font-size: 48px;
    color: #222;
    font-weight: 700;
  }
  &_desc {
    margin-top: 17px;
    font-size: 16px;
    color: #888;
  }
  + .login.join_agree {
    padding: 0;
    .all_box {
      margin-top: 80px;
    }
  }
  @include only-mo {
    margin: 0 24px;
    &_title {
      font-size: 22px;
    }
    &_desc {
      margin-top: 20px;
      font-size: 14px;
      line-height: 22px;
    }
    + .login.join_agree {
      padding: 0;
      .all_box {
        margin-top: 56px;
        .tit_label {
          margin-top: 3px;
          font-size: 14px;
        }
        .switchbtn .switch {
          height: 24px;
        }
      }
    }
  }
}
//구매상담 안내
.purchase_wrap {
  margin: 80px auto 0;
  width: 792px;
  &_radio {
    overflow: hidden;
    &_bg {
      display: flex;
      justify-content: center;
      padding: 40px 0;
      background-color: #fbfbfb;
      box-sizing: border-box;
    }    
    .radio_box {
      + .radio_box {
        margin-left: 64px;
      }
    }
    .button {
      float: right;
      margin-top: 8px;
      min-width: 150px;
      color: #444;
    }
  }
  .result_cont {
    display: none;
    &.on {
      display: block;
    }
  }
  .inp_wrap {
    margin-top: 80px;
    &_amp {
      position: absolute;
      top: 16px;
      right: 0;
      padding-left: 8px;
      font-size: 14px;
      color: #222;
      &:before {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #e70000;
        content: '';
        transform: translate(-50%, -50%);
      }
    }
    &_form {
      display: table;
      padding-top: 24px;
      width: 100%;
      .acc_cell {
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        color: #222;
        font-weight: 700;
        &:first-child {
          width: 204px;
        }
        label {
          position: relative;
          display: inline-block;
          padding-right: 8px;
          color: #222;
          font-size: 14px;
          font-weight: 700;
        }
        .necessary:after {
          position: absolute;
          top: 3px;
          right: 0;
          display: inline-block;
          width: 4px;
          height: 4px;
          content: "";
          background-color: #e70000;
          border-radius: 100%;
        }
        &.vat {
          padding-top: 10px;
          vertical-align: top;
        }
      }
      .acc_inp {
        position: relative;
        &.type1 {
          width: 384px;
        }
      }
      .inp:focus,
      .requests_cont:focus {
        outline: 0
      }
      .acc_inp .inp,
      .requests_cont {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        border: 0;
        padding: 10px 0;
        font-size: 14px;
        color: #444;
        -webkit-transition: all .15s ease;
        transition: all .15s ease;
        border-bottom: 1px solid #ddd;
        line-height: 1.4;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
      }
      .acc_inp .inp:focus+.focus_bg:before,
      .acc_inp .inp:focus+.focus_bg:after,
      .requests_cont:focus+.focus_bg:before,
      .requests_cont:focus+.focus_bg:after {
        width: 100%;
        -webkit-transition: .4s;
        transition: .4s;
        left: 0
      }
      .acc_inp .inp::-webkit-input-placeholder {
        color: #bbb;
        font-size: 12px;
      }
      .acc_inp .inp::-moz-placeholder {
        color: #bbb;
        font-size: 12px;
      }
      .acc_inp .inp::placeholder {
        color: #bbb;
        font-size: 12px;
      }
      .acc_inp .inp:-webkit-autofill,
      .acc_inp .inp:-webkit-autofill:hover,
      .acc_inp .inp:-webkit-autofill:focus,
      .acc_inp .inp:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 74px #fff inset !important;
        box-shadow: 0 0 0 74px #fff inset !important
      }
      .acc_inp .focus_bg {
        position: relative;
        display: block
      }
      .acc_inp .focus_bg:before,
      .acc_inp .focus_bg:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background: #5865f5;
        content: "";
        -webkit-transition: .4s;
        transition: .4s
      }
      .requests_cont {
        padding: 0 10px 8px 0;
        height: 180px;
        resize: none;
        font-size: 14px;
        color: #444;
        line-height: 28px;
        box-sizing: border-box;
      }
      .byte_count {
        margin-top: 8px;
        text-align: right;
        color: #888;
        font-weight: normal;
        font-size: 12px;
        .current {
          color: $primary-color;
          font-weight: 700;
        }
      }
    }
    &_tit {
      font-size: 24px;
      color: #222;
      font-weight: 700;
    }
    &_cont {
      position: relative;      
      margin-top: 20px;
      padding-top: 16px;
      border-top: 2px solid #222;
    }
  }
  .captcha_area {
    margin: 24px auto 0;
    width: 305px;
    height: 79px;
  }
  .list_dot {
    margin-top: 40px;
    li {
      color: #666;
    }
  }
  .btn_box {
    margin-top: 80px;
    .button + .button {
      margin-left: 8px;
    }
  }
  @include under-pc {
    max-width: 768px;
    width: 100%;
    &_radio {
      .button {
        margin-top: 16px;
        padding: 9px 0;
        height: 32px; 
        font-size: 14px;
      }
    }
    .inp_wrap {
      &_form {
        .acc_cell {
          &:first-child {
            width: 160px;
          }
          label {
            font-size: 14px;
          }
        }
        .acc_inp {
          width: 480px;
          &.type1 {
            width: 330px;
          }
        }
      }
    }
  }
  @include only-mo {
    max-width: 100%;
    width: calc(100% - 48px);
    margin-top: 40px;
    &_radio {
      &_bg {
        padding: 35px 0;
        .inp_radio+label {
          padding-left: 23px;
          font-size: 14px;
        }
      }
      .radio_box+.radio_box {
        margin-left: 24px;
      }
      .radio_box .inp_radio+label:before {
        top: 2px;
        width: 16px;
        height: 16px;
      }
      .radio_box .inp_radio:checked+label:after {
        top: 6px;
        left: 4px;
        width: 8px;
        height: 8px;
      }
      .button {
        border: 0;
        margin: 0;
        padding: 16px 0 0 0;
        text-align: right;
        color: #888;
        &:hover {
        background-color: transparent;
        }
      }
    }
    .inp_wrap {
      margin-top: 64px;
      &_tit {
        font-size: 20px;
      }
      &_form {
        .acc_cell {
          display: block;
          width: 100%;
          &:first-child {
            width: 100%;
          }
        }
        .acc_inp,
        .acc_inp.type1 {
          width: 100%;
        }
      }
    }
    .btn_box {
      margin-top: 40px;
      .button {
        min-width: auto;
        width: 49%;
        +.button {
          margin-left: 2%;
        }
      }
    } 
  }  
}
//직영점안내
.storeinfo {
  .br {
    display: block;
  }
}
@include under-pc {
  .storeinfo {
    .container .content {
      margin: 0;
    }
  }
}
.store_info_wrap {
  position: relative;
  &_slider {
    position: relative;    
    width: 100%;
    height: 880px;
    .bg_img {
      position: relative;
      width: 100%;
      height: 880px;    
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
      }
      
    }
  }
  &_txtbox {
    position: absolute;
    top: 120px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 100;
    text-align: center;
    .info_txt {
      display: block;
      margin-bottom: 24px;
      font-size: 20px;
    }
    .info_store_tit {
      margin-bottom: 32px;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }
    .info_desc {
      font-size: 16px;
      line-height: 24px;
      font-weight: 100;
      letter-spacing: -0.35px;
    }
  }
  &_guidebox {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    .swiper-wrapper {
      display: flex;
      justify-content: space-between;
    }
    .box {
      padding: 32px 0;
      width: 324px;
      height: 190px;
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      box-sizing: border-box;
      +.box {
        margin-left: 24px;
      }
      &.tel {
        .box_time {
          .time {
            letter-spacing: 1.8px;
          }
        }
      }
      &.search {
        padding: 58px 0;
        width: 156px;
        a {
          display: block;
        }
        .icon {
          display: block;
          margin: 0 auto;
          width: 40px;
          height: 40px;
          background: url(/dist/images/event/ic_search_store.svg) no-repeat 0 0;
        }
        .box_desc {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
        }
      }
      &_tit {
        display: block;
        font-size: 16px;
        font-weight: 100;
      }
      &_time {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        font-size: 32px;
        font-weight: 700;
        line-height: 28px;
        .everyday {
          font-size: 20px;
        }
        .code {
          font-size: 24px;
          line-height: 28px;
        }
        .time {
          margin-left: 10px;
          letter-spacing: 0.2px;
        }
      }
      &_day {
        margin-top: 10px;
        .weekday {
          display: flex;
          justify-content: flex-end;
          padding: 0 49px;          
          &:last-child {
            padding: 0 53px;
          }
          &_day {
            display: inline-block;
            text-align: right;
            font-size: 20px;
          }
          &_time {
            display: inline-block;
            margin-left: 11px;
            text-align: right;
            font-size: 21px;
          }
        }
        +.box_desc {
          margin-top: 10px;
        }
      }
      &_desc {
        margin-top: 16px;
        font-size: 16px;
        color: #bbb;
        font-weight: 100;
      }
    }
  }
  @include under-pc {
    &_guidebox {
      left: 0;
      bottom: 120px;
      width: 100%;
      transform: none;
      .box {
        margin-left: 24px;
        width: 300px !important;
        +.box {
          margin-left: 8px;
        }
        &_day {
          .weekday {
            padding: 0 40px;
            &:last-child {
              padding: 0 44px;
            }
          }
        }
        &.search {
          margin-right: 24px;
          width: 166px !important;
        }            
      }
    }
  }
  @include only-mo {
    &_slider {
      height: 413px;
      .bg_img {
        height: 413px;
      }
    }
    &_txtbox {
      top: 40px;
      .info_txt {
        margin-bottom: 16px;
        font-size: 14px;
      }
      .info_store_tit {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 22px;
      }
      .info_desc {
        margin: 0 24px;
        font-size: 14px;
        line-height: 22px;
        .br {
          display: inline;
        }
      }
    }
    &_guidebox {
      bottom: 24px;
      .box {
        padding: 24px 0;
        width: 224px !important;
        height: 144px;
        &_tit {
          font-size: 14px;
        }
        &_time {
          margin-top: 22px;
          font-size: 20px;
          .everyday {
            font-size: 16px;
          }
          .code {
            font-size: 16px;
          }
          .time {
            margin-left: 8px;
          }
        }
        &_day {
          .weekday {
            padding: 0 20px;
            &_day {
              font-size: 16px;
            }
            &_time {
              font-size: 17px;
            }
            &:last-child {
              padding: 0 23px;
            }
          }
        }
        &_desc {
          margin-top: 8px;
          font-size: 12px;
        }
        &.search {
          padding: 38px 0;
        }
      }
    }
  }
}
.way_box {
  padding: 80px 0 0 0;
  &_inner { 
    overflow: hidden;
    margin: auto;
    padding-bottom: 80px;
    width: 1200px;
  }
  &_addr {
    float: left;
    width: 611px;
    &_tit {
      display: block;
      font-size: 32px;
      color: #222;
      font-weight: 700;
    }
    &_txt {
      margin-top: 40px;
      font-size: 24px;
      color: #444;
      line-height: 36px;
      .block {
        display: block;
      }
    }
    .button {
      margin-top: 32px;
      min-width: 82px;
      color: #444;
    }
  }
  &_transp {
    &.pc {
      float: left;
    }
    &.mo {
      display: none;
    }    
    .route {
      li {
        padding-left: 64px;
        background-position: 0 50%;
        font-weight: 500;
        +li {
          margin-top: 30px;
        }
      }
      &_subway {
        background: url(/dist/images/event/ic_subway.svg) no-repeat 0 0;
      }
      &_bus {
        background: url(/dist/images/event/ic_bus.svg) no-repeat 0 0;
      }
      &_car {
        background: url(/dist/images/event/ic_car.svg) no-repeat 0 0;
      }
      &_tit {
        font-size: 18px;
        font-weight: 700;
        color: #444;
      }
      &_method {
        margin-top: 3px;
        font-size: 18px;
        color: #444;

      }
      .color_subway1 {
        color: #697215;
      }
      .color_subway2 {
        color: #ac9800;
      }
      .color_bus1 {
        color: #3353a2;
      }      
      .color_bus2 {
        color: #369117;
      }        
    }
  }
  @include under-pc {
    &_inner {
      width: calc(100% - 96px);
      padding-bottom: 0;
    }
    &_addr {
      overflow: hidden;
      float: none;
      width: 100%;
      &_txt {
        float: left;
        .block {
          display: inline;
        }
      }
      .button {
        float: left;
        margin: 43px 0 0 16px;
        padding: 0.5em;
        height: 32px;
        font-size: 14px;
      }
    }
    &_transp {
      &.pc {
        display: none;
      }      
      &.mo {
        display: block;
        margin: 72px 48px 120px;
        .color_subway2,
        .color_bus2 {
          &::before {
            content: "/ ";
            color: #444;
          }
        }
        .br {
          display: inline;
        }
        .route li {
          padding-left: 81px;
        }
      }
    }
  }
  @include only-mo {
    padding: 40px 0 0 0;
    &_addr {
      &_tit {
        font-size: 24px;
      }
      &_txt {
        float: none;
        margin-top: 24px;
        font-size: 18px;
        line-height: 28px;
        .block {
          display: block;  
        }
      }
      .button {
        float: none;
        margin: 16px 0 0 0;
      }
    }
    &_inner {
      width: calc(100% - 48px);
    }    
    &_transp { 
      &.mo {
        display: block;
        margin: 64px 24px 80px;
        .color_subway2,
        .color_bus2 {
          &::before {
            content: "";
          }
        }
        .route {
          li {
            display: table;
            width: 100%;
            margin-top: 40px;
            padding-left: 38px;
            background-size: 34px 34px;
          }
          &_tit {
            display: table-cell;
            margin-top: 5px;
            width: 81px;
            font-size: 16px;
            vertical-align: middle;
          }
          &_method {
            display: table-cell;
            margin-top: 0;
            width: auto;
            font-size: 14px;
            line-height: 22px;
            vertical-align: middle;
            .br {
              display: block;
            }
          }
        }        
      }
    }
  }
  .storeMap.open + .way_box_transp.mo {
    margin-top: 48px;
  }
}
//지도영역
.storeMap {
  display: none;
  width: 100%;
  height: 800px;
  @include under-pc {
    margin-top: 40px;
    height: 560px; 
  }  
  @include only-mo {
    margin-top: 48px;
    height: 400px;
  }
}