<div class="itemsort" aria-label="게시판 정렬">
  <button class="itemsort__button">
    <span class="itemsort__button__label sr-only">정렬기준:</span>
    <span class="itemsort__button__selected">최신순</span>
  </button>
  <div class="itemsort__drawer">
    <ul class="itemsort__items">
      <li class="itemsort__item itemsort__item--active"><a href="#" class="itemsort__item__link">최신순</a></li>
      <li class="itemsort__item"><a href="#" class="itemsort__item__link">오래된순</a></li>
    </ul>
  </div>
</div>