<footer class="footer">
  <nav class="sidebar">
    <div class="sidebar__inner">
      <a href="#" class="sidebar__btn sidebar__btn__link kakao"><span>카톡 상담</span></a>
      <a href="#" class="sidebar__btn sidebar__btn__link customer"><span>고객 센터</span></a>
      <a href="#header" class="sidebar__btn top"><span>페이지 상단</span></a>
    </div>
    <button class="sidebar__btn sidebar__btn__toggle" type="button"><img src="/dist/images/common/ic_sidebar1.svg" alt="메뉴토글"></button>
  </nav>
  <div class="footer__inner">
    <div class="footer__social__wrap">
      <div class="footer__social">
        <h3 class="footer__social__title">FOLLOW US</h2>
        <div class="footer__social__links">
          <a href="#" class="footer__social__link"><img src="/dist/images/common/ic_facebook.svg" alt="facebook"></a>
          <a href="#" class="footer__social__link"><img src="/dist/images/common/ic_instagram.svg" alt="instagram"></a>
          <a href="#" class="footer__social__link"><img src="/dist/images/common/ic_youtube.svg" alt="youtube"></a>
          <a href="#" class="footer__social__link"><img src="/dist/images/common/ic_blog.svg" alt="blog"></a>
        </div>
      </div>
      <div class="footer__family">
        <div class="footer__family__links">
          <div class="footer__family__link footer__pc">
            <button type="button" class="footer__family__link__trigger" aria-label="소니코리아 계열사 목록 펼침">Sony Family</button>
            <div class="footer__family__link__inner">
              <h4 class="optgroup__label">Sony Family</h4>
              <ul class="optgroup">
                <li class="option"><a href="#" target="_blank">소니코리아</a></li>
                <li class="option"><a href="#" target="_blank">소니코리아 고객지원</a></li>
                <li class="option"><a href="#" target="_blank">소니 알파 α</a></li>
                <li class="option"><a href="#" target="_blank">소니 방송/업무용 솔루션</a></li>
                <li class="option"><a href="#" target="_blank">소니 방송 업무용 솔루션 고객지원</a></li>
              </ul>
              <h4 class="optgroup__label">Family Company</h4>
              <ul class="optgroup">
                <li class="option"><a href="#" target="_blank">소니 인터렉티브 엔터테인먼트 코리아</a></li>
                <li class="option"><a href="#" target="_blank">소니 뮤직 엔터테인먼트 코리아</a></li>
                <li class="option"><a href="#" target="_blank">소니 ATV 뮤직 퍼블리싱 코리아</a></li>
                <li class="option"><a href="#" target="_blank">소니 픽쳐스 엔터테인먼트 코리아</a></li>
                <li class="option"><a href="#" target="_blank">소니 픽쳐스 텔레비전 코리아</a></li>
              </ul>
            </div>
          </div>
          <select class="footer__family__link footer__mo">
            <optgroup label="Sony Family">
              <option>소니코리아</option>
              <option>소니코리아 고객지원</option>
              <option>소니 알파 α</option>
              <option>소니 방송/업무용 솔루션</option>
              <option>소니 방송 업무용 솔루션 고객지원</option>
            </optgroup>
            <optgroup label="Family Company">
              <option>소니 인터렉티브 엔터테인먼트 코리아</option>
              <option>소니 뮤직 엔터테인먼트 코리아</option>
              <option>소니 ATV 뮤직 퍼블리싱 코리아</option>
              <option>소니 픽쳐스 엔터테인먼트 코리아</option>
              <option>소니 픽쳐스 텔레비전 코리아</option>
            </optgroup>
          </select>
        </div>
        <a href="https://www.sony.com/" class="footer__family__global" target="_blank">Sony Global</a>
      </div>
    </div>
    <div class="footer__legal">
      <div class="footer__legal__links">
        <a href="/dist/html/footer/terms.html" class="footer__legal__link">이용약관</a>
        <a href="/dist/html/footer/policy.html" class="footer__legal__link privacy">개인정보처리방침</a>
        <a href="javascript:openModal('modal__customer__insurance');" class="footer__legal__link" data-modal-target="modal__customer__insurance">소비자 피해 보상보험</a>
        <a href="/dist/html/footer/siteMap.html" class="footer__legal__link">사이트맵</a>
      </div>
      <div class="footer__legal__warning">
        <p>본 사이트의 컨텐츠는 저작권법의 보호를 받는 바, 상업적 목적의 무단전재, 복사, 배포 등을 금합니다.</p>
        <p>고객님의 안정한 거래를 위해 현금 등의 거래를 통한 결제를 하실 경우,<br> KG이니시스의 구매 안전서비스(채무지급보증)를 이용하실 수 있습니다.<a href="#" class="escrow">에스크로결제</a></p>
      </div>
    </div>
    <address class="address">
      <span>사업장주소 : 서울특별시 영등포구 국제금융로 10 원아이에프씨 24F</span>
      <span>사업자 등록번호 : 106-81-23810 통신판매번호 2012-서울영등포-1038 소니코리아㈜</span>
      <span>대표이사 : Okura Kikuo</span>
      <span>개인정보관리책임자 : Okura Kikuo</span>
      <span>TEL : 소니코리아 고객센터 1588-0911</span>
      <span>E-MAIL : <a href="mailto:cshelp@sony.co.kr">cshelp@sony.co.kr</a></span>
      <span>Copyright © Sony Korea Corporation. All rights reserved.</span>
    </address>
  </div>
</footer>

<!-- 소비자피해보상 보험 팝업 -->
<div class="layer modal__customer__insurance">
  <div class="layer_wrap">
    <div class="layer_container">
      <div class="layer_title">
        <h1>소비자피해보상보험</h1>
      </div>
      <div class="layer_content">
        <div class="consumer_logo">
          <img src="/dist/images/img_consumerlogo.png">
        </div>
        <p>고객님은 안전거래를 위해 현금 결제 시 저희 쇼핑몰이 가입한 구매안전서비스 소비자피해보상보험서비스를 이용하실 수 있습니다.</p>
        <p>보상대상 : 미배송&#47;반품, 환불거부&#47;쇼핑몰부도</p>
        <div class="btn_box">
          <a href="https://mall.sgic.co.kr/csh/iutf/sh/shop/CSHINFO004VM0.mvc?tm=3&q_sk=2&q_sv=1068123810" target="_blank" title="새창열림">서비스 가입 사실 확인하기</a>
        </div>
      </div>
      <button href="#" class="layer_close close" title="팝업창 닫기">
        <span>팝업창 닫기</span>
    </button>        
    </div>    
  </div>
</div>
<!--// 소비자피해보상 보험 팝업 -->

<script>
     //팝업 열기
    function openModal(modalname) {
        $("." + modalname).fadeIn(300);
        $("body,html").css({"overflow":"hidden"});        
        return false;
    }
    // 팝업 닫기
    $(document).ready(function(){
      $layer = $(".layer");

      $('.close').click(function() {
          $layer.fadeOut(300);
          $('body,html').css({"overflow":"visible"});
      });
    });
</script>