<!-- 기획전 슬라이드 -->
<div class="exhibitions_slider swiper-container">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <div class="exhibitions_box">
        <img class="bg_img" src="/dist/images/product/banner_thumb_01.png" alt=""><!-- 슬라이드 배경 -->
        <div class="txt_box">
          <span class="tag" style="color:#5865f5;">기획전</span>
          <p class="tit">원핸드 컴팩트 풀프레임<br>G 렌즈 예약판매</p>
        </div>
      </div>
    </li>
    <li class="swiper-slide">
      <div class="exhibitions_box">
        <img class="bg_img" src="/dist/images/product/banner_thumb_01.png" alt="">
        <div class="txt_box">
          <span class="tag" style="color:#5865f5;">기획전</span>
          <p class="tit">원핸드 컴팩트 풀프레임<br>G 렌즈 예약판매</p>
        </div>
      </div>
    </li>
    <li class="swiper-slide">
      <div class="exhibitions_box">
        <img class="bg_img" src="/dist/images/product/banner_thumb_01.png" alt="">
        <div class="txt_box">
          <span class="tag" style="color:#5865f5;">기획전</span>
          <p class="tit">원핸드 컴팩트 풀프레임<br>G 렌즈 예약판매</p>
        </div>
      </div>
    </li>
  </ul>
  <div class="arrow_btn">
    <a class="arrow swiper-button-prev"><img src="/dist/images/common/arrow_19_34.png" alt="이전"></span></a>
    <a class="arrow swiper-button-next"><img src="/dist/images/common/arrow_19_34.png" alt="다음"></span></a>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script type="text/javascript">
$(function(){
  fullSliderBanner();
});
</script>